Repository muhandojeon/JavaScript-React-Design-Pattern, pull requests merged in 2024-10, with the labels that each got.

#5 [우창완] 챕터 1: 디자인 패턴 소개
  챕터_1/우창완.md
Labels: 챕터_1

#6 [우창완] 챕터 2: 패턴성 검증, 프로토 패턴 그리고 세 가지 법칙
  챕터_2/ 우창완.md
Labels: 챕터_2

#7 [우창완] 챕터 3: 패턴 구조화 및 작성
  챕터_3/우창완.md
Labels: 챕터_3

#11 [서준환] 챕터 1, 2, 3
  챕터_1/서준환.md
  챕터_2/서준환.md
  챕터_3/서준환.md
Labels: 챕터_1, 챕터_2, 챕터_3

#2 [백지연] 챕터 1: 디자인 패턴 소개
  챕터_1/백지연.md
Labels: 챕터_1

#3 [백지연] 챕터 2: 패턴성 검증, 프로토 패턴 그리고 세 가지 법칙
  챕터_2/백지연.md
Labels: 챕터_2

#4 [백지연] 챕터 3: 패턴 구조화 및 작성
  챕터_3/백지연.md
Labels: 챕터_3

#8 [오혜성] 챕터 1, 2, 3
  챕터_1/오혜성.md
  챕터_2/오혜성.md
  챕터_3/오혜성.md
Labels: 챕터_1, 챕터_2, 챕터_3

#10 [박상범] 챕터 1, 2, 3
  챕터_1/상범.md
  챕터_2/상범.md
  챕터_3/상범.md
Labels: 챕터_1, 챕터_2, 챕터_3

#19 챕터1 정리
  챕터_1/정리.md
Labels: 챕터_1

#21 챕터3 정리
  챕터_3/정리.md
Labels: 챕터_3

#20 챕터2 정리
  챕터_2/정리.md
Labels: 챕터_2

#15 [이상조] 챕터 1: 디자인 패턴 소개
  챕터_1/이상조.md
Labels: 챕터_1

#16 [이상조] 챕터 2: 패턴성 검증, 프로토 패턴 그리고 세 가지 법칙
  챕터_2/이상조.md
Labels: 챕터_2

#17 [이상조] 챕터 3: 패턴 구조화 및 작성
  챕터_3/이상조.md
Labels: 챕터_3

#12 [박승훈] 챕터 1: 디자인 패턴 소개
  챕터_1/박승훈.md
Labels: 챕터_1

#13 [박승훈] 챕터 2: 패턴성 검증, 프로토 패턴 그리고 세 가지 법칙
  챕터_2/박승훈.md
Labels: 챕터_2

#14 [박승훈] 챕터 3: 패턴 구조화 및 작성
  챕터_3/박승훈.md
Labels: 챕터_3

#9 [신승준] 챕터 1, 2, 3
  챕터_1/신승준.md
  챕터_2/신승준.md
  챕터_3/신승준.md
Labels: 챕터_1, 챕터_2, 챕터_3

#22 [박승훈] 챕터 4: 안티패턴
  챕터_4/박승훈.md
Labels: 챕터_4

#25 [백지연] 챕터 4: 안티 패턴
  챕터_4/백지연.md
Labels: 챕터_4

#27 [백지연] 챕터 5: 최신 자바스크립트 문법과 기능
  챕터_5/백지연.md
Labels: 챕터_5

#26 [백지연] 챕터 6: 디자인 패턴의 유형
  챕터_6/백지연.md
Labels: 챕터_6

#40 [이상조] 챕터 6: 디자인 패턴의 유형
  챕터_6/이상조.md
Labels: 챕터_6

#23 [박승훈] 챕터 5: 최신 자바스크립트 문법과 기능
  챕터_5/박승훈.md
Labels: 챕터_5

#24 [박승훈] 챕터 6: 디자인 패턴의 유형
  챕터_6/박승훈.md
Labels: 챕터_6

#28 [오혜성] 챕터 4: 안티 패턴
  챕터_4/오혜성.md
Labels: 챕터_4

#29 [오혜성] 챕터 5: 최신 자바스크립트 문법과 기능
  챕터_5/오혜성.md
Labels: 챕터_5

#30 [오혜성] 챕터 6: 디자인 패턴의 유형
  챕터_6/오혜성.md
Labels: 챕터_6

#36 [서준환] 챕터 4,5,6
  챕터_4/서준환.md
  챕터_5/서준환.md
  챕터_6/서준환.md
Labels: 챕터_4, 챕터_5, 챕터_6

#31 [박상범] 챕터 4: 안티 패턴
  챕터_4/상범.md
Labels: 챕터_4

#33 [박상범] 챕터 5: 최신 자바스크립트 문법과 기능
  챕터_5/상범.md
Labels: 챕터_5

#34 [박상범] 챕터 6: 디자인 패턴의 유형
  챕터_6/상범.md
Labels: 챕터_6

#32 [신승준] 챕터 4, 5, 6
  챕터_4/신승준.md
  챕터_5/신승준.md
  챕터_6/신승준.md
Labels: 챕터_4, 챕터_5, 챕터_6

#46 [백지연] 챕터 7: 자바스크립트 디자인 패턴 (1/3)
  챕터_7/백지연.md
Labels: 챕터_7
