Repository muhandojeon/JavaScript-React-Design-Pattern, pull requests merged in 2024-12, with the labels that each got.

#96 [박승훈] 챕터 10: 모듈형 자바스크립트 디자인 패턴
  챕터_10/박승훈.md
  챕터_2/우창완.md
Labels: 챕터_2, 챕터_10

#37 [변수미] 챕터 4,5,6
  챕터_4/변수미.md
  챕터_5/변수미.md
  챕터_6/변수미.md
Labels: 챕터_4, 챕터_5, 챕터_6

#64 [변수미] 챕터 7: 자바스크립트 디자인 패턴 (3/3)
  챕터_7/변수미.md
Labels: 챕터_7

#79 [변수미] 챕터 9: 비동기 프로그래밍 패턴
  챕터_9/변수미.md
Labels: 챕터_9

#78 [변수미] 챕터 8: 자바스크립트 MV* 패턴
  챕터_8/변수미.md
Labels: 챕터_8

#98 [변수미] 챕터 10, 11
  챕터_10/변수미.md
  챕터_11/변수미.md
Labels: 챕터_10, 챕터_11

#110 [이상조] 챕터 13: 렌더링 패턴
  챕터_13/이상조.md
Labels: 챕터_13

#106 [이상조] 챕터 12: 리액트 디자인 패턴
  챕터_12/이상조.md
Labels: 챕터_12

#103 [오혜성] 챕터 12, 13
  챕터_12/오혜성.md
  챕터_13/오혜성.md
Labels: 챕터_12, 챕터_13

#108 [박승훈] 챕터 12: 리액트 디자인 패턴
  챕터_12/박승훈.md
Labels: 챕터_12

#97 [박승훈] 챕터 11: 네임스페이스 패턴
  챕터_11/박승훈.md
Labels: 챕터_11

#111 [오혜성] 챕터 14, 15
  챕터_14/오혜성.md
  챕터_15/오혜성.md
Labels: 챕터_14, 챕터_15

#100 [백지연] 챕터 12, 13
  챕터_12/백지연.md
  챕터_13/백지연.md
Labels: 챕터_12, 챕터_13

#75 [우창완] 챕터 9: 비동기 프로그래밍 패턴
  챕터_9/우창완.md
Labels: 챕터_9

#91 [우창완] 챕터 10: 모듈형 자바스크립트 디자인 패턴
  챕터_10/우창완.md
Labels: 챕터_10

#92 [우창완] 챕터 11: 네임스페이스 패턴
  챕터_11/우창완.md
Labels: 챕터_11

#105 [우창완] 챕터 12, 13
  챕터_12/우창완.md
  챕터_13/우창완.md
Labels: 챕터_12, 챕터_13
